<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %>

  
  <!-- Main Content-->
  <main class="container">
    <div class="jumbotron">
    
      <h1 class="display-4">Welcome To The <%= title %> page</h1>
    <h4>I am Jiamei Li. I am from China. I came to Canada in 2019.<br><br>
    I start learnning code this year January.<br><br>
    I like coding,it makes me feel very intersting and have a sense of achievement.<br><br>
    I have learnded HTML,CSS,C#,Java and python.</h4>
    <a href="/contact">Click here to contact me</a> <br><br>
    <a href="\assets\images\Jiamei_Li_Resume_2022.pdf"  target="_blank" rel="noopener noreferrer">Click here to view my Resume</a> <br><br>
    <img src="\assets\images\Aboutphoto.jpg"style="width:280px;height:350px;">
    </div>
    
  </main>

<%- include partials/bottom_nav.ejs %>

  
<%- include partials/footer.ejs %>