<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
      <h4> Hi, This is Li Jiamei. Welcome to my page<br><br>
        This is my website for COMP229.<br><br>
        My personal philosphy is that " If there is a will there is a way ".<br><br>
        <a href="/about">Click here to learn about me </a> <br><br>
        <img src="assets\images\Profilepic.jpg"style="width:280px;height:250px;">
      </h4>
    </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




