<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %>

  
  <!-- Main Content-->
  <main class="container">
    <div class="jumbotron">
      <center>
      <h1 class="display-4">Welcome To The <%= title %> page</h1>
    <p>Here is a List of Projects that I have completed</p>
  </center>
    <h2>Real Estate Agent Website</h2>
In a previous class of mine I had to work on making a website for a real estate agent that included
3 listings for those who were looking to buy homes
<p><img src="\assets\images\real-estate.jpg" style="width:250px;height:170px;margin-right:15px;">
<br>
<br>
<br>
    <h2>Coca Cola Products Page</h2>
    In a previous class of mine I had to work on making a website that would advertise products for a company. The Company that I chose was Coca Cola. 
    <p><img src="\assets\images\coca cola.png" style="width:250px;height:190px;margin-right:15px;">
<br>
<br>
<br>
<h2>Bug Game</h2>
In a previous class of mine I had made an interactive game using html,css and java that would involve a lady bug on a leaf that moved and  users would interact with and try to click. 
<p><img src="\assets\images\ladybug-leaf.png" style="width:250px;height:170px;margin-right:15px;">
  <br>
<br>
<br>
</body>
</html>
    </div>
  </main>

<%- include partials/bottom_nav.ejs %>

  
<%- include partials/footer.ejs %>