<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %>

  
  <!-- Main Content-->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome To The <%= title %> page</h1>
    <p>Here are some of the services I can offer</p>
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>Javascript</li>
        <li>Express JS</li>
    </ul>
    <p><img src="\assets\images\services_offered.jpg" style="width:250px;height:170px">

    
    </div>
  </main>

<%- include partials/bottom_nav.ejs %>

  
<%- include partials/footer.ejs %>